.clients__title {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  margin: 15px;
  max-width: calc((100% - 60px) / 2);
  @media screen and (min-width: 768px) {
    max-width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 180px) / 6);
  }
}

.client__link {
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: block;
  padding: 16px 52px;
  fill: var(--logo-color);
  @include transition(border, fill);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
  }
  @media screen and (min-width: 768px) {
    padding: 16px 60px;
  }
  @media screen and (min-width: 1200px) {
    padding: 16px 32px;
  }
}
