.hero {
  margin-top: 0;
  width: 480px;
  height: 400px;
  padding: 118px 60px;
  background-color: var(--hero-background-color);
  background-image: url(../images/hero-bgi.jpg);
  object-fit: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding: 118px 204px;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
  }
}
.hero__title {
  color: var(--accent-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
  }
}
